body {
    background: #111;
    color: #0f0;
    font-family: monospace;
}

input, button {
    padding: 10px;
    margin-top: 5px;
    width: 250px;
}

button {
    background: #0f0;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #4f4;
}
